{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block page_content %}

<div class="slide"></div>

<div class="slide-content">
  <div class="container">
    <div class="row">
      <h1>Last generated reports</h1>
      <div class="col-md-3 col-md-offset-1">.col-md-1</div>
      <div class="col-md-3">.col-md-1</div>
      <div class="col-md-3">.col-md-1</div>
      <div class="col-md-4">.col-md-1</div>
      <div class="col-md-4">.col-md-1</div>
      <div class="col-md-4">.col-md-1</div>
      <div class="col-md-4">.col-md-1</div>
      <div class="col-md-4">.col-md-1</div>
      <div class="col-md-4">.col-md-1</div>
      <div class="col-md-4">.col-md-1</div>
      <div class="col-md-4">.col-md-1</div>
      <div class="col-md-4">.col-md-1</div>
    </div>
  </div> 
</div>

{% endblock %}
